body{
  margin: 0%;
}

#root{
  height:100%;
  width: 100%;
}

:root {
  --background-color: #fff;
  --primaryColor: #d452f2;

  --text-color: #121416d8;
  --link-color: #543fd7;

  --primaryheader: gray;

  --btn-primary:#4d4d4d; 
  --btn-secondary:#737373; 
  --btn-tertiary:#999999; 

  --info-color:#3399ff;
  --success-color:#33ff77;
  --error-color:#ff5c33;
  --warn-color:#ff5050;

  --btn-pos:green;
  --btn-neg:red;


  --test-color:red;
  --test-color2:red;
}

html[data-theme='light'] {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
  --primaryheader: gray;
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #F7F8F8;
  --link-color: #828fff;
  --primaryheader: black;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

label{
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

.imgbtn{
  background:gray;
}

.imgbtn:hover{
  background:rgb(211, 211, 211);
}

.headerp{
  background: var(--primaryheader);
  color: var(--text-color)
}
/* UI */

.info{
  background-color: var(--info-color);
}

.success{
  background-color: var(--success-color);
}

.error{
  background-color: var(--error-color);
}

.warn{
  background-color: var(--warn-color);
}





.btn_pri
,.btn_sec
,.btn_ter
,.btn_pos
,.btn_neg {
  display:inline-block;
	cursor:pointer;
  text-decoration:none;
  border: 0;
}

.btn_pri:active,
.btn_sec:active,
.btn_ter:active,
.btn_pos:active,
.btn_neg:active {
	position:relative;
	top:1px;
}

.btn_pri{
  background-color: var(--btn-primary);
}
.btn_pri:hover {
	background-color:#5cbf2a;
}
.btn_sec{
  background-color: var(--btn-secondary);
}
.btn_sec:hover {
	background-color:#5cbf2a;
}

.btn_ter{
  background-color: var(--btn-tertiary);
}

.btn_pos{
  background-color: var(--btn-pos);
}

.btn_neg{
  background-color: var(--btn-neg);
}


/*  TEST  */
.testcolor{
  color:var(--test-color);
}

.testcolor2{
  color:var(--test-color2);
}