body{
  margin: 0%;
}

#root{
  height:100%;
  width: 100%;
}

:root {
  --background-color: #fff;
  --primaryColor: #d452f2;

  --text-color: #121416d8;
  --link-color: #543fd7;

  --primaryheader: gray;

  --btn-primary:gray; 
  --btn-secondary:green; 
  --btn-tertiary:red; 

  --info-color:red;
  --success-color:green;
  --alert-color:red;
  --warn-color:red;

  --test-color:red;
  --test-color2:red;
}

html[data-theme='light'] {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
  --primaryheader: gray;
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #F7F8F8;
  --link-color: #828fff;
  --primaryheader: black;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

label{
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

.imgbtn{
  background:gray;
}

.imgbtn:hover{
  background:rgb(211, 211, 211);
}

.headerp{
  background: var(--primaryheader);
  color: var(--text-color)
}

/*  TEST  */
.testcolor{
  color:var(--test-color);
}

.testcolor2{
  color:var(--test-color2);
}